@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Sans+Pro:wght@300&display=swap');

body {
	padding-top: 65px;
	font-family: 'Roboto', sans-serif;
	
	/* background: linear-gradient(
		to bottom right,
		#09cec1, #001324
	); */
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat',
	sans-serif;
}

.login-image {
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	top: 0;
	/* background: linear-gradient(to bottom right,
		#052d2a, #000000);
	background-image: url("../img/image-login.jpg"); */
	filter: blur(1.5px);
	-webkit-filter: blur(1.5px);
	background-repeat: no-repeat;
	
	background-position: center;
	background-size: cover;
	background-position-y: bottom;
}

.vh-100 {
	min-height: 100vh;
}
.w-400 {
	width: 400px;
}
.fs-xs {
	font-size: 1rem;
}
.w-10 {
	width: 10%;
}
a {
	text-decoration: none;
}
.fs-big {
	font-size: 5rem !important;
}
.online {
	width: 10px;
	height: 10px;
	background: green;
	border-radius: 50%;
}
.w-15 {
	width: 15%;
}
.fs-sm {
	font-size: 1.4rem;
}
small {
	color: #bbb;
	font-size: 0.7rem;
	text-align: right;
}
.chat-box {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 50vh;
}
.rtext {
	width: 65%;
	background: #f8f9fa;
	color: #444;
}

.ltext {
	width: 65%;
	background: #3289c8;
}
/* width */
*::-webkit-scrollbar {
  width: 3px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #aaa;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #3289c8;
}

textarea {
	resize: none;
}

.logo-image-buho{
    width: 46px;
	margin: auto 0;
    overflow: hidden;
}

.logo-image-nombre {
	width: 70px;
	margin: auto 0;
	overflow: hidden;
}
/*message_status*/
.middle-container{
	background-color: #a4ffff;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	align-items: center;
  }
.v{
	padding-right: 5%;
	padding-bottom: 20px;
	padding-left: 5%;
	align-items: center;
}
.abs-center {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
  }
.col1{
	width: 500px;
	padding-left: 30px;
	padding-right: 30px;
}
.col2{
	width: 500px;
	padding-left: 30px;
	padding-right: 30px;
}
.col3{
	width: 500px;
	padding-left: 30px;
	padding-right: 30px;
}
.col4{
	width: 500px;
	padding-left: 30px;
	padding-right: 30px;
}
.v1{
	padding-bottom: 20px;
}

/* profile.php */

#updateProfilePicture{
	margin: 0 auto;
	width: 150px;
	height: 150px;
	position: relative;
}

img.profile-picture{
	border-radius: 50%;
	box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

button.profile-picture{
	position: absolute;
	right: -1px;
	bottom: -1px;
	font-size: 40px;
	color: #02040a;
}
